* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
}

.nav a {
    padding: 5px;
    border-right: 1px solid black;
    text-decoration: none;
    color: lightskyblue;
}

.main-con {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 460px;
    border-top: 5px solid lightblue;
}

.con-body {
    margin: 30px;
    background: white;
    display: flex;
    flex-direction: column;
   
}

.con-top {
    display: flex;
    flex-direction: row;
}

.con-left {
    width: 60%;
    height: 75%;
    margin-top: 20px;
    margin-left: 20px;
}

h3 {
    color: lightskyblue;
}

.con-left-content {
    display: grid;
    grid-template-areas: "a a"
        "a a"
        "a a";
    justify-content: start;
    align-items: center;
}

.con-right {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px;
}

.join {
    background-color: lightskyblue;
    padding-left: 10px;
    padding-top: 5px;
    height: 10%;
    font-weight: bold;
    
}

.con-login {
    display: grid;
    grid-template-areas: "a a"
        "a a"
        "a a"
        "a a"
        "a a";
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.con-right label {
    font-weight: bold;
}

.con-right input {
    font-weight: bold;
}

.submit {
    background-color: lightgreen;
    width: 50%;
}

.con-bott {
    margin-top: 20px;
}

.con-bott-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.con-bott-1 label {
    font-size: 20px;
    font-weight: bold;
}

.con-bott-1 p {
    font-size: 20px;
    font-weight: bold;
}

.con-bott-1 a {
    padding-left: 6px;
    text-decoration: none;
    color: lightskyblue;
}

.GO {
    width: 30px;
    height: 30px;
}

.con-bott-1 p {
    font-size: 15px;
    color: rgb(180, 180, 180);
}
hr{
    margin: 0px 40px 0px 40px;
}
.con-footer {
    border-top: 3px solid rgb(204, 204, 204);
    background-color: rgb(247, 247, 247);
    width: 100%;
}

.con-bott-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.con-body-footer {
    margin: 20px 30px 20px 30px;
}

.con-bott-2 a {
    padding: 5px;
    border-right: 0.2px solid black;
    text-decoration: none;
    color: lightskyblue;
}

.con-bott-2 p {
    margin-right: 10px;
}

.con-bott-2 #link-term {
    border: none;
}

.con-bott-2 #user-agree {
    border-left: 0.2px solid black;
}

@media only screen and (max-width: 874px) {
    .con-top {
        display: flex;
        flex-direction: column;
    }

    .main-con {
        height: fit-content;

    }

    .con-right {
        width: fit-content;
    }

    .con-bott-1 {
        flex-wrap: wrap;
    }

    .con-bott-2 {
        flex-wrap: wrap;
    }
}
